@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;0,900;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins","sans-serif";
    
}

body{
    
    width: 100%;
 
}
.background{
    background: transparent;
    position:fixed;
    background: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    filter: blur(3px);
   
}
header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 25px 13%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background: transparent;
    

}
.nav-bar a{
    position: relative;
    font-size: 16px;
    color: #fff;
    margin-right: 30px;
    text-decoration: none;
    
}
.nav-bar a::after{
    content:"";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    bottom: -5px;
    border-radius:5px;
    transform: translateY(9px);
    opacity: 0;
    transition: .55s ease;

}
.nav-bar a:hover:after{
    transform: translateY(0);
    opacity: 1;
}
.search-bar{
    background-color: transparent;
    width: 250px;
    height: 45px;
    border: 2px solid #fff;
    border-radius: 6px;
    display: flex;
    align-items: center;
    caret-color: #fff;
}
.search-bar input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    padding-left: 10px;
    
}
.search-bar button{
    background: transparent;
    height: 100%;
    width: 40px;
    border: none;
    outline: none;
    color: #ffffff;
    cursor: pointer;
}
.search-bar input::placeholder{
    color: #fff;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 78%;
    height: 580px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 3px 8px 30px 8px black;
    overflow: hidden;
    
    
}
.item{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    color: #fff;
    background: transparent;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}
.item .Logo{
    color: #fff;
    font-size: 38px;
    
}


.text-item h2{
    font-size: 40px;
    line-height: 1;
    
}
.text-item p{
 font-size: 16px;
 padding: 20px 0px;
 height: fit-content;
}
.social-icon a i{
    font-size: 25px;
    color: #fff;
    margin-left: 8px;
    cursor: pointer;
    transition: .5s ease;
}
.social-icon a:hover i{
    transform: scale(1.2);
    color: rgb(136, 247, 247);
}
.container .login-section{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;
    color: #fff;
    
 
}
.login-section .form-box{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;

    
    
}
.login-section .form-box.login{
    transform: translateX(0);
    transition: transform .6s ease;
    transition-delay: 0.7s;
}
.login-section.active .form-box.login{
    transform: translateX(430px);
    transition-delay: 0s;
}
.login-section .form-box.register{
 transform: translateX(430px);
 transition: transform .6s ease;
 transition-delay: 0s;
}
 

.login-section.active .form-box.register{
    transform: translateX(0px);
    transition-delay: 0.7s;
}

.login-section .form-box h2{
    text-align: center;
    font-size: 25px;
}
.form-box .input-box{
    width: 340px;
    height: 50px;
    border-bottom: 2px #fff solid;
    margin: 30px 0;
    position: relative;
    caret-color: #fff;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding-right: 28px;
}
.input-box label{
    position:absolute;
    top:50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 600px;
    pointer-events: none;
    transition: .5s ease;
    opacity: 0.5;
}
.input-box .icon{
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
   
}
.input-box input:focus~label,
.input-box input:valid~label{
    top:-5px;
    opacity: 1;
}
.remember-password{
    font-size: 14px;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-password label input{
    accent-color: #fff;
    margin-right: 4px;
    
}
.remember-password a{
    color: #fff;
    text-decoration: none;

}
.remember-password a:hover{
    text-decoration: underline;
    color: rgb(136, 247, 247);
}
.btn{
    background: #fff;
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: red;
    font-size: 16px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.4);
    transition: 0.3s ease;
}
.btn:hover{
    transform: scale(1.1);
    
}
.create-account{
    font-size: 14.5px;
    text-align: center;
    margin: 25px;
}
.create-account p a{
    color: #fff;
    font-weight: 600px;
    text-decoration: none;
}
.create-account p a:hover{
    text-decoration: underline;
    color: rgb(136, 247, 247);
}